<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link href="styles.css" rel="stylesheet" />
    <title>Vue Tutorials</title>
  </head>
  <body>
    <div id="vue-app">
     <h1>Two way data binding</h1>
     <label>Name:</label>
     <input type="text" v-model="name"/>
     <span>{{name}}</span>
     <label>Age:</label>
     <!-- need to click on alt + enter for the event console.log to display -->
     <input type="text" v-model="age"/>
     <span>{{age}}</span>
    </div>
    <script src="app.js"></script>
  </body>
</html>
